@(brandForm: Form[Brand])(implicit flash: play.api.mvc.Flash)

@import twirl.pimpForPlay._
@import views.html.helper._
@implicitFieldConstructor = @{ FieldConstructor( views.html.helper.bootstrap3.basicForm.inputFieldConstructor.f ) }

@views.html.template("Create a Brand") {

    <h1>Add a Brand</h1>
    @form(routes.Brands.add()) {
        @inputText(brandForm("key"), '_label -> "Brand Key", '_showConstraints -> false)

        <div class="actions">
            <input type="submit" value="Create Brand" class="btn btn-primary"> or
            <a href="@routes.Brands.list()" class="btn btn-default">Cancel</a>
        </div>
    }
}