@(brands: List[Brand])(implicit flash: play.api.mvc.Flash)

@views.html.template("Brands") {
    <a class="btn btn-success" id="add" href="@routes.Brands.create()"><i class="fa fa-plus"></i> Add Brand</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Key</th>
            </tr>
        </thead>
        <tbody>
            @brands.map { b =>

                <tr>
                    <td>@b.id</td>
                    <td>@b.key</td>
                </tr>

            }
        </tbody>
    </table>
}